:root {
    --header-color: #FFFFFF;
    --sectionone-color:#2F303A;
    --sectiontwo-color: #E5E5E5;
    --fotter-color: #2F303A;
    --button-color: #188CE8;
}
/*header*/
.wrapper {
    background-color:var(--header-color);
}
.header {
    width: 1600px;
    margin: 0 auto;
    padding: 25px 150px 25px 150px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
a {
    text-decoration: none;
}
.logo {
    margin-right: 75px;
    margin-top: 12px;
}
.weblogo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    
}
.studiologo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
    
}
.nav-item {
    margin-right: 40px;
}
/* .mail-tel {
    margin-right: 300px;
} */
.nav-contact {
    margin-right: 45px;
}
.nav-mail{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.nav-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.list {
    list-style: none;
    margin-right: 240px;
}
.navigetion-link,
.list {
    display: flex;
}
.nav-studio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.nav-portfolio,
.nav-contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}