/*header*/
.wrapper {
    background-color: #FFFFFF;
}
.navig,
.logo,
a {
    text-decoration: none;
}
.header {
    width: 1600px;
    margin: 80px;
    padding: 25px 215px 25px;
    align-items: center;
}
.navigation {
    display: flex;
}
.link-contact:hover,
.link-portfolio:hover,
.link-stydia:hover,
.link-mail:hover,
.link-tel:hover {
color: red;
}
.logo:focus
.list:focus
.navig:focus {
    color: black;
}

.navigation-ws{
    text-decoration: none;
    padding: 25px;
    margin: 55px;
}
.logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo-stydio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000; 
}
.list {
    list-style: none;
}
.navigation-item{
    padding-top: 25px;
    margin: 50px;
}
.link-stydia {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.link-portfolio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}
.link-contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}
.mail-tel {
    padding-top: 25px;
    padding-left: 300px;
    margin: 50px;
}
.mail-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.mailtel-item {
    margin-left: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}
/*main*/

/*footer*/
/* .footer {
    width: 1600px;
    padding: 20px 1240px 20px 215px;
}
.adress-item {
    width: 230px;
    padding: 20px 60px 215px;
} */