
body {
    background: #E5E5E5;
}
* {
    box-sizing: border-box;
  }

  .list {
    list-style: none;
    padding: 0%;
}



/* * {
    margin: 0;
    padding: 0;
} */
.header {
    width: 1600;
    height: 80;
    margin: 0 auto;
    padding: 25px 25px 215px;
    display: flex;
    align-items: center;
}

.navig,
.link-nav,
.list {
    display: flex;
}
/* logo крыша*/

/* .link-nav, 
.mail-tel {
    display: flex;
} */
.navig,
.logo,
a {
    text-decoration: none;
}
.logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}
.logo-stydio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
    
}
/*крыша*/
.link-stydia {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.link-portfolio, .link-contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.link-contact:hover,
.link-portfolio:hover,
.link-stydia:hover,
.link-mail:hover,
.link-tel:hover {
color: red;
}

.link:focus
.mail-tel:focus
.link-portfolio {
    color: blue;
}
/* mail-tel*/
.link-mail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

color: #2196F3;
}
.link-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;

}

/*button*/
.pointer {
    cursor: pointer;
  }
  /* основной блок */
  .title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
/*main*/
.section-one {
    width: 1600;
    margin: 0 auto;
    padding: 200 auto;
    
    background: #2F303A;;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}